﻿.row {
  margin-bottom: 20px;
  margin-top:30px;
}
.selectSpan {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 4px;
        }

.Previous {
cursor:pointer
}
.Next {
cursor:pointer
}

.btn-default {
    
}

