﻿body {
  padding-top: 40px;
  padding-bottom: 40px;
  background:aliceblue;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
#username {
  margin-bottom:5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#Pin{
  margin-bottom: 5px;
  width:80%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#GetPin {
    color: #337ab7;
    text-decoration: none;
    position: absolute;
    margin: 23px 0 0 267px;
    font-size: 14px;
    cursor: pointer;
}
#GetPin :hover{
   color:#a735d3;
}
.btnlogin {
    color: #fff;
    background-color: #286090;
    /* border-color: #204d74; */
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
